<!DOCTYPE html>
<html>
<head>

</head>
<body>
Profile
<%= form_for @provider, html: { multipart: true } do |f| %>
  <p>
    <label>My Avatar URL:</label>
    <%= image_tag @provider.avatar_url if @provider.avatar? %>
  </p>
<% end %>
<div>Username:<%= @provider.name %></div>
<div>Language:<%= @provider.language%></div>
</body>
</html>