<!DOCTYPE html>
<html>
<head>

</head>
<body>
<h1>Profile</h1>
  <p>
    <img src="https://image.flaticon.com/icons/png/512/194/194935.png" width="300px" height="300px">
  </p>
<div>Username:  <%= @provider.name %></div>
<div>Language:  <%= @provider.language%></div>
</body>
</html>