$('#build_error').remove();
<% if @user.errors.any? %>
  var build_error = "<div class='alert alert-danger' id='build_error'>";
  build_error +=   "<id='error_explanation'>";
  <% @user.errors.full_messages.each do |msg| %>
    build_error += "<%= j msg %>";
  <% end %>
  build_error += "</div>";
  $(build_error).insertBefore( "#sign-up-form" );
<% else %>
  $('#sign-up-modal').modal_success();
<% end %>