<p id="notice"><%= notice %></p>

<h1>Users</h1>


 <% if signed_in? %>
      Signed in as: <%= current_user.email %>
      <%= button_to 'Sign out', sign_out_path, method: :delete, class: "button" %>
    <% else %>
      <a href="/auth/facebook">
      Login With Facebook </a>
    <% end %>
<br>

<%= link_to 'New User', new_user_path %>
