<p id="question"> Would you like to become a <br> patient or provider? <p>

<div id="patient_provider_buttons">

<%= button_to "Patient", root_path, class: "btn btn-primary btn-lg", method: :get %>

<%= button_to "Provider", verification_submit_path, class: "btn btn-secondary btn-lg", id:"push_aside"%>

</div>