<div id=healfly_logo_text> 
  <p id=title_healfly> Heal     Fly</p>   
</div>

<div id=healfly_logo_pillwings>
  <%= inline_svg "healfly_title_logo", class: 'healfly_title_logo' %> 
</div>

<div id=lightblue_background>
  <%= inline_svg "lightblue_homepage_background", class: 'lightblue_background' %> 
</div>

<div id=turquoise_icon_squares>
  <%= inline_svg "turquoise_icon_squares", class: 'turquoise_icon_squares' %> 
</div>

<p class="motto"> get  </p>
<p id="motto_care" class="motto"> care </p>
<p id="motto_ampersand" class="motto"> &    </p>
<p id="motto_treat" class="motto"> treat </p>
<p id="motto_yourself" class="motto"> yourself </p>

<br> <br> <br> 
<br> <br> <br>  
