<h1> Hello HealFly @ Next Academy </h1>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">heal fly</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a class="navbar_futura_font" href="#">patient login</a></li>
      <li class="active"><a class="navbar_futura_font" href="#">provider login</a></li>
<!--       <li><a id=login_with_facebook href="/auth/facebook"> -->
<!--       Login With Facebook</a></li> -->
    </ul>
  </div>
</nav>


<div id=healfly_logo_text> 
  <p id=title_healfly> Heal     Fly</p>   
</div>

<div id=healfly_logo_pillwings>
  <%= inline_svg "healfly_title_logo", class: 'healfly_title_logo' %> 
</div>


<br> <br> <br> 
