<div id=healfly_logo_text> 
  <p id=title_healfly> Heal     Fly</p>   
</div>

<div id=healfly_logo_pillwings>
  <%= inline_svg "healfly_title_logo", class: 'healfly_title_logo' %> 
</div>


<br> <br> <br> 
