<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations <%= @user.first_name %>! Welcome to HealFly! </h1>

    <p> You have booked an appointment for <%= @provider.name %> in beautiful <%= @provider.location %> on <%= @appointment.start_time %></p>
  </body>
</html>