@import "welcome";
@import "appointments";
@import "providers";
@import "braintree";
@import "users";

.modal {
    z-index: 3000;
}

.button-field {
  text-align: center;
}

.radio-button-padding {
  padding: 5px;
}




