// Place all the styles related to the appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



p.imageprovider {
	width: 600px;
}

p#appointmentMade {
	text-align: center;
	margin: 100px 100px;
}

div#makeAppoint {
	margin-right: 15%;
	position: absolute;
	right: 0;
	padding-top: 100
	background-color:rgb(0, 102, 102);
}
