// Place all the styles related to the providers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#profile_form {
  font-family: Cagliostro;
  position: absolute;
  color: black;
  width: 80vw;
  text-align: left;
  margin-left: 10vw;
  margin-top: 1vw;
}

.buttonProvider {
  border: none;
  margin-left: 1vw;
}

#provider_profile_picture {
  margin-bottom: 5%;
}

div#profile_form{
  width: 80vw;
  margin-left: 0;
  margin-left: 10vw;
} 

#image {
  width: 80vw;
  float: left;
  margin-right: 5vw;
}

.prov_text {
  margin-left: 10vw;
}

#AppointmentButton {
font-size: 1em;
}

#ProfileButton {
font-size: 1em;
}

#provider_profile_picture {
  float: left;
}

#form_provider{
  overflow: scroll;
  overflow-x: hidden;
  height: 455px;
}

#edit_profile_button{
  top: 50%;
  margin-left: 40%;
}

div.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(47, 39, 39, 0.59);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

div#provider_profile_picture:hover .overlay{
  bottom: 0;
  height: 100%;
}

div.textProvider {
  text-align: center;
  padding: 5%;
  color: white;
}

.btn-group .buttonProvider {
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    font-size: 5em;
    background-color: darkgrey;
    border: 1px black;
    margin-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.buttonShit{
  margin-left: 29vw;
}

.btn-group .buttonProvider:hover {
  background-color: white;
  color: black;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}


//Header & Search----------------------------------

.header-container {
  // border: 1px solid red;
  width:100%;
  height:300px;
  position:relative;                //for absolute positioning in " .search-bar-container" class
  margin-bottom:15px;
}

// .header-background{
//   // border: 1px solid blue;
//   width:99%;
//   height: 100%;
//   margin: 0 auto;
//   background-image: url("headimg.jpg");
//   background-size: cover;
//   opacity: 0.5;  
// }

// .header-title{
//   border: 1px solid white;
//   position:absolute;
//   left:7px;
//   top:25px;
//   width:40%;
//   font-size: 1.5em;
//   font-family: arial;
//   color: white;
//   padding:10px 10px 0px 0px;
//   background-color: #A349AB;
//   opacity:0.7;
//   text-align: right;
// }

// .header-title-healfly {
//   font-size: 0.7em;
//   color: #1215BE;
// }

.search-container {
  // border: 1px solid yellow;
  position: absolute;
  right:155px;
  top:60px;
  width:20%;
}

#search-field{
  width: 100%;
  opacity:0.8;
}

.search-field {
  margin-bottom: 5px;
  font-size:0.95em;
}

#search-field-price{
  width:49.3%;
  opacity:0.9;
}

.search-button {
  border-radius: 5px;
  height:33px;
  width:75%;
  margin-left:3px;
  background-color: #AD3234 ;
  border: none; 
}

.no-search-result {
  padding-left: 3%;
}

// PROVIDER SEARCH RESULTS ------------------------------------

.show-button {
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;  
  height: 100%;
}


.col-3 { 
  padding:0px;
  height:330px;
  margin-left:22px;
  margin-bottom: 50px;
  max-width: 23%;
}

.image-container {
  height:100%;
  margin-bottom: 0px;
  position: relative;
  border-radius: 5px;
}

.provider-image {
  width: 100%;
  height:100%;
  margin-bottom: 0px;
  border-radius: 5px;
}

.description-container {    
  width:100%;
  background-color: rgb(3,1,1);
  opacity: 0.79;
  margin-bottom: 0px;
  border-radius: 5px;
  position: absolute;
  left:0px;
  bottom:0px;
  padding: 3.5px 0px 3.5px 0px; 
}

.provider-listing-description {
  font-size: 13.3px;
  color: white;
  margin-bottom: 1px;
  margin-left:3px;
  font-family: arial;
}

// SEARCH BAR ---------------------------------------------------------------------

.s_form-group {
  font-family: 'Fredoka One', cursive; 
  word-spacing: 2px;
  letter-spacing: 1px;
}

#s_search_container {
  margin-right: 2vw;
  position:absolute;
}

#s_search_container_row {
}

#s_treatment {
  border-radius: 0;
  border: none;
  width: 100%;
  margin-top: -17.7%;
  margin-left: 5vw;
}

#s_location {
  border-radius: 0;
  border: none;
  width: 100vw;
  margin-left: 5vw;
}

#s_language {
  border-radius: 0;
  border: none;
  width: 13%;
  display: inline;
  margin-right: 1%;
}

#s_min_price {
  border-radius: 0;
  border: none;
  width: 7%;
  margin-right: 2%;
  display: inline;
  margin-left: 5vw;
}

#s_max_price {
  border-radius: 0;
  border: none;
  width: 8%;
  display: inline;
  margin-right: 2%;
}

#s_search_button {
  margin-top: 1%;
  position: absolute;
  z-index: 10;
  display: inline;
  margin-left: 2vw;
}

#searchpage_font {
  font-family: Cagliostro;
  position: absolute;
  width: 80vw;
  text-align: left;
  margin-left: 16vw;
  margin-top: 1vw;
}

#s_lightblue_background {
  z-index: -5;
  position: absolute; 
  margin-top: -39vh;
  height: 70%;
  width: 100%;
  background: #D6FFF8;
  position: absolute;
  fill: solid #D6FFF8;
  background-image: url("thatbeach.jpeg");
  background-size: 100% 100%;
}

#search_background {
  width: 100%;
}


div#search_form {
  top: 8vw;
  right: 8vw;
  height:250px;
}

.treatment-field{
  width:411px;
}

// PATIENT PROFILE ---------------------------------------------------------------------

.patient_text {
  margin-left: 10vw;
}
