// Place all the styles related to the providers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div#profileForm {
	position: absolute;
	margin-left: 40%;
	top :100px;
}

div#imageProvider{
	margin-left: 10%;
	margin-top: 100px;
	margin-bottom: 150px;
	display: block;
	position: relative;
	width: 300px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div#editProvider{
	top: 50%;
	margin-left: 40%
}

div.overlay {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: rgba(47, 39, 39, 0.59);
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
}

div#imageProvider:hover .overlay{
	bottom: 0;
	height: 100%;
}

div.textProvider {
	text-align: center;
	padding-top: 60%;
	color: white;
}

.btn-group .buttonProvider {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
}

.btn-group .buttonProvider:hover {
	background-color: black;
	color: white;
}