body {
  height: 100%;
  margin: 0;
}

html {
  height: 100%;  
}

#question {
  margin-top: 10%;
  font-family: Fredoka One;
  font-size: 3em;
  text-align: center;
}

#patient_provider_buttons {
  font-family: Fredoka One;
  font-size: 2em;
  margin-top: 5%; 
  margin-left: 40%;
}

#push_aside {
  margin-left: 20%;
  margin-top: -13.2%;
  display: inline;
}