/*// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/
@font-face {
  font-family: "Blanch_Caps_Light";
  src: url(/assets/fonts/BLANCH_CAPS_LIGHT.ttf) format("truetype");
}

@font-face {
  font-family: "Blanch_Caps_Inline";
  src: url(/assets/fonts/BLANCH_CAPS_INLINE.ttf) format("truetype");
}

@font-face {
  font-family: "Blanch_Caps";
  src: url(/assets/fonts/BLANCH_CAPS.ttf) format("truetype");
}

@font-face {
  font-family: "Futura_Medium";
  src: url(/assets/fonts/16020_FUTURAM.ttf) format("truetype");
}

.navbar_futura_font {
  font-family: Futura; 
  font-size: 3vw;
  letter-spacing: .05vw;
  font-size: 13px;
  color: white;
  display: inline-block;
  text-decoration: none;
}

.nav {
  color: white;
}

.navbar {
  background-color: black;
  margin-top: -8vh;
  width: 103vw;
  margin-left: -4vw; 
  height: 3vw;
  z-index: -1;
  color: white;

}

#healfly_logo {
  position: absolute;
}

#title_healfly {
  font-family: Blanch-CapsInline;
  font-size: 160px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  word-spacing: 14vw;
  display: inline-block;
  margin-left: 28vw;
  position: absolute;
  top: 4.5vw;
}

#healfly_logo_text {
  display: inline-block;
}

#healfly_logo_pillwings {
  display: inline-block;
  position: absolute;
  text-align: center;
  top: 4vw;
  left: 43.4vw;
}

#login_with_facebook {
  font-family: Futura;
  text-decoration: none;
  position: absolute;
  margin-left: 58vw;
  margin-top: -1.7vw;
  color: white;
  display: inline-block;
  letter-spacing: .05vw;
}

