// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#healfly_logo {
  position: absolute;
}

#title_healfly {
  font-family: Blanch-CapsInline;
  font-size: 160px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  word-spacing: 14vw;
  display: inline-block;
  margin-left: 28vw;
}

#healfly_logo_text {
 display: inline-block;
}

#healfly_logo_pillwings {
  display: inline-block;
  position: absolute;
  text-align: center;
  

}