/*// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*/

@font-face {
  font-family: "Blanch_Caps_Light";
  src: url(/assets/fonts/BLANCH_CAPS_LIGHT.ttf) format("truetype");
}

@font-face {
  font-family: "Blanch_Caps_Inline";
  src: url(/assets/fonts/BLANCH_CAPS_INLINE.ttf) format("truetype");
}

@font-face {
  font-family: "Blanch_Caps";
  src: url(/assets/fonts/BLANCH_CAPS.ttf) format("truetype");
}

@font-face {
  font-family: "Futura_Medium";
  src: url(/assets/fonts/16020_FUTURAM.ttf) format("truetype");
}

body {
height: 100%;
}

html {
height: 100%;  
}

.homepage_center {
 margin-left: -3vw;
}

// NAVBAR - - - - - - - - - - - - - - - - - -

.navbar_futura_font {
  font-family: Futura; 
  font-size: 3vw;
  letter-spacing: .05vw;
  font-size: 13px;
  // color: white;
  // text-decoration: none;
  margin-left: 73vw;
}

.nav {
  height: 6vh;
}

.navbar {
  width: 100vw; 
  height: 3vw;
  z-index: 1;

}

#beige_text {
  color: beige;
}

#navbar_logo {
  font-family: Blanch-CapsInline;
  color: beige;
  font-size: 25px;
  letter-spacing: .8vw;
  text-align: left;
  display: inline-block;
  position: absolute;
  top: 1.5vh;
  margin-left: 15vw;
  text-decoration: none;
}

// BACKGROUND - - - - - - - - - - - - - - - - - - 

#lightblue_background {
  z-index: -5;
  position: absolute;
  margin-top: -40vh;
  height: 2vh;
  // margin-left: -16vw
  // width: 100%;
}

.lightblue_background {
width: 100%;
}
 
// LOGO - - - - - - - - - - - - - - - - - -

#healfly_logo {
  position: absolute;
}

#title_healfly {
  font-family: Blanch-CapsInline;
  font-size: 160px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  word-spacing: 14vw;
  display: inline-block;
  margin-left: 30vw;
  position: absolute;
  top: 5.5vw;
}

#healfly_logo_text {
  display: inline-block;
}

#healfly_logo_pillwings {
  display: inline-block;
  position: absolute;
  text-align: center;
  top: 5vw;
  left: 43.8vw;
}

// MOTTO & ICONS - - - - - - - - - - - - - - - - - -

.turquoise_icon_squares {
  position: absolute;
  margin-top: 52vh;
  margin-left: 26vw;
  width: 50%;
}

.motto {
font-family: Futura-Medium;
font-size: 18px;
color: #000000;
letter-spacing: 0.67px;
text-align: center;
position: absolute;
margin-top: 73.5vh;
margin-left: 30.5vw;
}

#motto_care {
margin-left: 43vw;
}

#motto_ampersand {
margin-left: 50.73vw;
margin-top: 74vh;
}

#motto_treat {
margin-left: 56.5vw;
}

#motto_yourself {
margin-left: 67.7vw;
}

// SEARCH ENGINE - - - - - - - - - - - - - - - - - -

.search_text {
font-family: Futura-Medium;
font-size: 22px;
color: #000000;
letter-spacing: 1px;
}

#I_am_looking_for {
margin-top: 23vh;
margin-left: 32.5vw;
}

.near_and_price_container {
 display: flex;
 flex-direction: row;
 
}

#near {
margin-top: 14vh;
margin-left: 32.5vw;
margin-top: 4.5vw;
}

#price {
margin-left: 17vw;
margin-top: 4.5vw;
}

.form-group {
width: 38%;
font-family: Futura-Medium;
position: absolute;
margin-left: 31.5vw;
}

#input_treatment {
border-radius: 0;
border: none;
margin-top: -21vh;
}

.near_and_price_input_container {
 display: flex;
 flex-direction: row;
 margin-top: 5.5vw;
 width: 38%
}

#input_location {
border-radius: 0;
border: none;
width: 16vw;
}

#input_min_price {
border-radius: 0;
border: none;
width: 7vw;
margin-left: 7vw;
}

#input_max_price {
border-radius: 0;
border: none;
width: 7vw;
margin-left: 1vw;
}